.game-title{
	display: flex;
	justify-content: center;
	padding: 10px;
	align-items: flex-end;
	background: rgb(26, 61, 140);
	color: white;
}

.card-container{
	width: 90%;
	margin: 0 auto;
	display: grid;
	padding: 15px 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 270px));
	justify-content: space-around;
	grid-gap: 15px;
 }

.card-container img{
	height: 225px;
	width: 250px;
	border-radius: 15px;
}

.card{
	background: rgb(26, 61, 140);
	border: 2px solid rgb(26, 61, 140);
	border-radius: 15px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

.card:hover{
	cursor: pointer;
	background: #020818;
	border: 2px solid #020818;
}